<div id="auth">
    {% if is_logged_in %}
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <button class="register-login">Register / Login</button>
        <div class="modal">
            <div>
                <div class="auth-selectors">
                    <div class="auth-selected"></div>
                    <span class="login-selector active">login</span>
                    <span class="register-selector">register</span>
                </div>
                <div class="form-container login">
                    <form action="/login" method="post" novalidate>
                        <div class="form-input first">
                            <label for="username">username</label>
                            <input type="text" autocomplete="off" id="username" name="username" placeholder="" required>
                            <span class="error-message"></span>
                        </div>
                        <div class="form-input second">
                            <label for="email">email</label>
                            <input type="email" autocomplete="off" id="email" name="email" placeholder="" disabled required>
                            <span class="error-message"></span>
                        </div>
                        <div class="form-input third">
                            <label for="password">password</label>
                            <input type="password" autocomplete="off" id="password" name="password" placeholder="" required>
                            <span class="error-message"></span>
                        </div>
                        <div class="form-input fourth">
                            <label for="confirmation">confirm password</label>
                            <input type="password" autocomplete="off" id="confirmation" name="confirmation" placeholder="" disabled required>
                            <span class="error-message"></span>
                        </div>
                        <button type="submit">let's type!</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
</div>

