<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assets "app_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "app_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}

    <title>Typing Test</title>
</head>
<body>
    <div>
        {{ template_check }}
        {{ result }}
    </div>
</body>
</html>
