<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap" rel="stylesheet">
    {% assets "app_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "app_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
    <title>Typing Test</title>
</head>
<body>
    {% include "header.html" %}

    <main>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif%}
        {% endwith %}
        {% include "test.html" %}
        {% include "test_results.html" %}
    </main>

    {% include "footer.html" %}
</body>
</html>
