<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap" rel="stylesheet">
    {% assets "app_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "app_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
    <title>Typing Test</title>
</head>
<body>
    {% include "header.html" %}
    <main>
        <div id="index" class="active">
            {% include "test.html" %}
        </div>
            {% include "test_results.html" %}
        <div id="side-info" class="hidden">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" style="fill:currentColor;"><path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
            {% include "leaderboards.html" %}
            {% if is_logged_in %}
                {% include "profile.html" %}
            {% endif %}            
        </div>
    </main>
    {% include "footer.html" %}
</body>
</html>
