<div id="test-info">
    <div id="live-stats">
        <div class="wpm">
            <span class="value">0</span>
            <span class="type">wpm</span>
        </div>
        <div class="accuracy">
            <span class="value">100%</span>
            <span class="type">acc</span>
        </div>
    </div>
    <div id="counter">
        <span></span>
    </div>
    <div id="test-menu">
        <div id="test-modes">
            <button class="optionSelector" data-mode="time">time</button>
            <button class="optionSelector" data-mode="words">words</button>
        </div>
        <div id="test-lengths-time">
            <button class="optionSelector" data-length-time="15">15</button>
            <button class="optionSelector" data-length-time="30">30</button>
            <button class="optionSelector" data-length-time="60">60</button>
            <button class="optionSelector" data-length-time="120">120</button>
        </div>
        <div id="test-lengths-words">
            <button class="optionSelector" data-length-words="10">10</button>
            <button class="optionSelector" data-length-words="20">20</button>
            <button class="optionSelector" data-length-words="50">50</button>
            <button class="optionSelector" data-length-words="100">100</button>
        </div>
        <div id="test-languages">
            <button class="optionSelector" data-language="french">french</button>
        </div>
    </div>
</div>
<div id="test" tabindex="0">
    <div class="boundary">
        <div id="words"></div>
        <input id="test-input" type="text" name="test-input" autofocus autocomplete="off">
    </div>
</div>
<button class="test-reset">
    <svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40" style="fill:currentColor;"><path d="M447.334-93Q314-106 223-204.333 132-302.667 132-438q0-75.667 32.334-143.834 32.333-68.166 91-116.5L330-624.001q-43.667 32-68.5 81.5Q236.666-493 236.666-438q0 92.667 60 160.334 60.001 67.667 150.668 79V-93ZM514-93v-105.666q92-12 151-79.5T724-438q0-96.334-64.833-166-64.834-69.667-160.834-76.334h-17.667L540-620.333 483.667-564 309.334-738.333l174.333-175.333L540-857.333 468.666-786h18.667q143 0 242.5 102.333 99.5 102.334 99.5 245.667 0 135-91 233.5T514-93Z"/></svg>
</button>