@keyframes cursorBlinking {
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}


#test div#cursor {
    position: absolute;
    width: 1ch;
    height: 1px;
    background-color: var(--color-text-accent);
    transition: 0.1s;
    visibility: visible;
        animation-name: cursorBlinking;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;

    &.active {
        animation: none;
    }
}

#test.inactive div#cursor {
    transition: none;
    animation: none;
    visibility: hidden;
}