footer {
    height: 5rem;
    width: 100%;
    @include flex-center;

    a {
        @include flex-center;
        @include anchor-main;

        font-size: 0.875rem;
        gap: 1ch;

        span {
            line-height: 0.875rem;
        }

        svg {
            color: inherit;
            width: 0.875rem;
            height: 0.875rem;
        }
    }
}