@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-justify-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-justify-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-justify-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin anchor-main {
    text-decoration: none;
    color: var(--color-text-test);
    transition: var(--transition-time-standard);

    &:link {
        color: var(--color-text-test);
    }
    &:visited {
        color: var(--color-text-test);
    }
    &:hover {
        color: var(--color-text-accent);
    }
}

@mixin button-overwrite-complete {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    color: var(--color-text-main);
}

@mixin button-overwrite {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    color: var(--color-text-test);
    transition: var(--transition-time-standard);
    &:hover {
        color: var(--color-text-accent);
    }
}

@mixin button-main {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-text-main);
    color: var(--color-background);
    &:hover {
        background-color: var(--color-text-accent);
    }
}

@mixin box-shadow-standard {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

@mixin modal {
    @include flex-center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-time-standard);
    background-color: var(--color-modal);

    &.active {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
    }
}