#stats {
    * {
        margin-bottom: 0.25rem;
    }
    *::before {
        color: var(--color-text-test);
    }
    #wpm::before {
        content: "wpm : ";
    }
    #raw-wpm::before {
        content: "raw : "
    }
    #accuracy::before {
        content: "acc : "
    }
    #timer {
        font-size: 1.25rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}