button.test-reset {
    @include button-overwrite;
    @include flex-center;

    color: var(--color-text-maint);

    svg {
        width: 2rem;
        height: 2rem;
    }

    &:active {
        transform: scale(0.8);
    }
}